<div class="wrapper">
  <div class='content'>
      <div id="user_change_password" class="well">


      <h4><%=flash[:header] %></h4>

      <% if flash[:expired] || flash[:failed] %>
            <%=flash[:time_elapsed] %>
            <%=flash[:message] %>

            <a href='/'>Back to login form</a>

      <% else %>
             <p class='alert'></p>

            <!-- CREATE USER CHANGE PASSWORD FORM -->
            <%= simple_form_for(:update_password, :html=> {:class => 'form-horizontal change_password'}, :url => update_password_path) do |f| %>
                <div class='control-group'>
                  <label class='control-label'> Password: </label>
                  <div class='controls'>
                    <input type="password" class='span4' name="session[password]">
                  </div>
                </div>
                <div class='control-group'>
                  <label class='control-label'> Confirm Password: </label>
                  <div class='controls'>
                    <input type="password" class='span4' name="session[password_confirmation]">
                  </div>
                </div>

                <div class='control-group pull-right'>
                  <input type="hidden" name="id" value="<%=@id%>">
                  <input type="hidden" name="email" value="<%=@email%>">
                  <input type="submit" class='btn btn-info' value="Submit">
                </div>
                <div class="clear"></div>
             <!-- END OF CHANGE PASSWORD FORM -->

            <% end %>
        <% end %>

      </div>
      <div class="clear"></div>
    </div>
</div>