<div class="wrapper">
    <div class='content'>

        <div id="user_login" class="well">
            <h1>Welcome to CodingDojo's network.</h1>

              <% if flash[:error] %>
                  <p class='alert alert-error'><%= flash[:error] %></p>
              <% elsif flash[:message] %>
                  <p class='alert alert-success'><%= flash[:message] %></p>
              <% end %>


          <!-- CREATE USER LOGIN FORM -->
            <%= simple_form_for(:session, :html=> {:class => 'form-horizontal user_login'}, :url => sessions_path) do |f| %>
                <div class='control-group form-inline'>
                    <label class='control-label'> Email: </label>
                    <div class='controls'>
                        <input type="text" id="login_email" class='span4' name="session[email]" value="<%= flash[:email] %>">
                    </div>
                </div>

              <div class='control-group'>
                    <label class='control-label'> Password: </label>
                    <div class='controls'>
                        <input type="password" class='span4' name="session[password]">
                     </div>
              </div>

              <div class='control-group pull-right'>
                    <a href='#modal' data-toggle='modal' class='forgot-password'>Forgot password?</a>
                    <input type="submit" class='btn btn-info' value="Login">
              </div>
              <div class="clear"></div>
            <% end %>
            <!-- END OF LOGIN FORM -->
            <div class='lead_form'>
                <a href="#modal" class='new_leads btn btn-primary pull-right' data-link='<%= leads_path %>' data-action='request company profile'>Request an invitation to join our network</a>
                <div class='clear'></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<!-- CREATE MODAL -->
<div id='modal' class="modal hide fade">
    <div class="modal-footer"></div>
</div>