<% content_for :title do %>
	Edit Profile
<% end %>
<% content_for :jquery do %>
	<script>

        $(document).ready(function(){
            $('.datepicker').datepicker();

            $("a[data-toggle='upload_type']").click(function(e){
                e.preventDefault();
                $("a[data-toggle='upload_type']").removeClass('active');

                $(this).addClass('active')
                       .parents('form')
                            .find("input.upload_type")
                            .hide()
                       .parents('form')
                            .find("input.upload_type."+ $(this)
                                .attr('data-action'))
                                .show()
                            .siblings('input[name="student_profile[action]"]')
                                .val($(this).attr('data-action'));
            });

            $("a[data-action='upload_picture_file']").click();
            $("a[data-action='upload_resume_file']").click();
        });

	</script>
<% end %>

	<div class="edit_profile">
        <div class='picture_box pull-right'>
            <img src="<%=@profile.avatar.url(:medium)%>" alt="<%= @student.name %>" class='picture' />
            <%  if is_admin? or @current_user.id == @student.id %>
                <%= simple_form_for(@profile, :url => student_path, :html => {:class=>'upload_picture', :multipart => true}) do |f| %>
                    <div class='form-inline'>
                        <p>
                          <a href='#' data-toggle='upload_type' data-action='upload_picture_file' class='active'>Upload a file</a> or
                          <a href='#' data-toggle='upload_type' data-action='add_picture_link'>add a link</a> to change profile picture
                        </p>
                    </div>
                    <div class='form-inline'>
                        <%= f.file_field :avatar, label: 'Profile Picture', :class=>'pull-left upload_type upload_picture_file' %>
                        <%= f.text_field :image_src, label: 'Profile Picture', :class=>'pull-left upload_type add_picture_link' %>
                        <%= f.hidden_field :action, :value => "" %>
                        <%= f.submit "Update", :class => "btn btn-primary btn-mini pull-right" %>
                        <div class='clear'></div>
                    </div>
                    <div class='clear'></div>
                <% end %>
              <div class='clear'></div>
            <% end %>
        </div>
        <div id="forms" class="well span7">

            <% if(flash[:notice]) %>
            <div class='alert alert-success'><%= flash[:notice] %></div>
            <% end %>

            <% if(flash[:error]) %>
            <div class='alert alert-danger'><%= flash[:error] %></div>
            <% end %>

            <a href="/students/<%= @student.id %>" class='btn'>Go Back</a>

            <%= simple_form_for(@student) do |f| %>
                <legend>Update Student Information</legend>
                <%  if is_admin? %>
                <%= f.input :name %>
                <%= f.input :status, :collection => -1..2, :label => "Status (0 for inactive, 1 for active, 2 for already hired, -1 for banned)" %>
                <% end %>

                <%= f.input :email %>
                <%= f.input :password, :value => "", :input_html => { :value => "" }, :label => "Password (leave this empty if you don't want to change the password)" %>
                <%= f.input :password_confirmation %>
                <%= f.submit "Update", :class => "btn btn-primary" %>
            <% end %>
          <%  if is_admin? or @current_user.id == @student.id %>
              <%= simple_form_for(@profile, :url => student_path,  :html => {:class=>'upload_resume', :multipart => true}) do |f| %>
                  <legend>Update Resume</legend>
                  <div class='form-inline'>
                    <p>
                      <a href='#' data-toggle='upload_type' data-action='upload_resume_file' class='active'>Upload a file</a> or
                      <a href='#' data-toggle='upload_type' data-action='add_resume_link'>add a link</a> to change the resume
                    </p>
                  </div>
                  <div class='form-inline'>
                    <%= f.file_field :resume, label: 'Resume', :class=>'pull-left upload_type upload_resume_file' %>
                    <%= f.text_field :resume_url, label: 'Resume', :class=>'pull-left upload_type add_resume_link' %>
                    <%= f.hidden_field :action, :value => "" %>
                    <div class='clear'></div>
                  </div>
                  <%= f.submit "Update Resume", :class => "btn btn-primary" %>
              <% end %>
          <% end %>
            <%= simple_form_for(@profile, :url => student_path) do |f| %>
                <legend>Update Projects Information</legend>

                <%  if is_admin? %>
                <%= f.input :video_url, label: 'Video Vimeo URL' %>
                <%  end %>

                <%= f.input :project1_name, label: 'Project 1 Name' %>
                <%= f.input :project1_url, label: 'Project 1 Vimeo URL'  %>
                <%= f.input :project2_name, label: 'Project 2 Name'  %>
                <%= f.input :project2_url, label: 'Project 2 Vimeo URL'  %>
                <%= f.input :project3_name, label: 'Project 3 Name'  %>
                <%= f.input :project3_url, label: 'Project 3 Vimeo URL'  %>

                <%  if is_admin? %>
                    <%= f.input :yellow_belt_score, :collection => [7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0], label: 'Yellow Belt Score' %>
                    <%= f.input :yellow_belt_date, as: :string, label: 'Yellow Belt Earned Date', input_html: { class: 'datepicker' }%>
                    <%= f.input :green_belt_score, :collection => [7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0], label: 'Green Belt Score' %>
                    <%= f.input :green_belt_date, as: :string, label: 'Green Belt Earned Date', input_html: { class: 'datepicker' } %>
                    <%= f.input :red_belt_score, :collection => [7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0], label: 'Red Belt Score' %>
                    <%= f.input :red_belt_date, as: :string, label: 'Red Belt Earned Date', input_html: { class: 'datepicker' } %>
                    <%= f.input :black_belt_score, :collection => [7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0], label: 'Black Belt Score' %>
                    <%= f.input :black_belt_date, as: :string, label: 'Black Belt Earned Date', input_html: { class: 'datepicker' } %>
                <%  end %>
                <%= f.submit :class=>"btn btn-primary" %>
            <% end %>
        </div>
        <div class='clear'></div>
    </div>