<% content_for :title do %>
	Edit Profile
<% end %>
<% content_for :jquery do %>
	<script>
	$(document).ready(function(){
		$('.datepicker').datepicker();
	});
	</script>
<% end %>

	<div class="edit_profile">
	<img src="<%= @profile.image_src %>" alt="<%= @student.name %>">
	<div id="forms" class="well span7">

		<% if(flash[:notice]) %>
		<div class='alert'><%= flash[:notice] %></div>
		<% end %>

		<% if(flash[:error]) %>
		<div class='alert alert-danger'><%= flash[:error] %></div>
			<% end %>

		<a href="/students/<%= @student.id %>" class='btn'>Go Back</a>

		<%= simple_form_for(@student) do |f| %>
			<legend>Update Student Information</legend>
			<%  if is_admin? %>
			<%= f.input :name %>
			<%= f.input :status, :collection => -1..2, :label => "Status (0 for inactive, 1 for active, 2 for already hired, -1 for banned)" %>
			<% end %>

			<%= f.input :email %>
			<%= f.input :password, :value => "", :input_html => { :value => "" }, :label => "Password (leave this empty if you don't want to change the password)" %>
			<%= f.input :password_confirmation %>
			<%= f.submit "Update", :class => "btn btn-primary" %>
		<% end %>

		<%= simple_form_for(@profile, :url => student_path) do |f| %>
			<legend>Update Projects Information</legend>
			
			<%  if is_admin? %>
			<%= f.input :image_src, label: 'Profile Picture' %>
			<%= f.input :video_url, label: 'Video Vimeo URL' %>
			<%  end %>

			<%= f.input :project1_name, label: 'Project 1 Name' %>
			<%= f.input :project1_url, label: 'Project 1 Vimeo URL'  %>
			<%= f.input :project2_name, label: 'Project 2 Name'  %>
			<%= f.input :project2_url, label: 'Project 2 Vimeo URL'  %>
			<%= f.input :project3_name, label: 'Project 3 Name'  %>
			<%= f.input :project3_url, label: 'Project 3 Vimeo URL'  %>
			<%= f.input :resume_url, label: 'Resume URL'  %>
		
			<%  if is_admin? %>
			<%= f.input :yellow_belt_score, :collection => [7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0], label: 'Yellow Belt Score' %>
			<%= f.input :yellow_belt_date, as: :string, label: 'Yellow Belt Earned Date', input_html: { class: 'datepicker' }%>
			<%= f.input :green_belt_score, :collection => [7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0], label: 'Green Belt Score' %>
			<%= f.input :green_belt_date, as: :string, label: 'Green Belt Earned Date', input_html: { class: 'datepicker' } %>
			<%= f.input :red_belt_score, :collection => [7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0], label: 'Red Belt Score' %>
			<%= f.input :red_belt_date, as: :string, label: 'Red Belt Earned Date', input_html: { class: 'datepicker' } %>
			<%= f.input :black_belt_score, :collection => [7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0], label: 'Black Belt Score' %>
			<%= f.input :black_belt_date, as: :string, label: 'Black Belt Earned Date', input_html: { class: 'datepicker' } %>
			<%  end %>
			<%= f.submit :class=>"btn btn-primary" %>
		<% end %>


	</div>
</div>