<div class="wrapper">
	<img src="/assets/profile_pictures/Jose2.jpg" alt="jose">
	<div id="forms" class="well span7">


		<%= simple_form_for(@profile, :url => student_path) do |f| %>
			<legend>Update Project Information</legend>
			<%= f.input :project1_name, label: 'Project 1 Name' %>
			<%= f.input :project1_url, label: 'Project 1 URL'  %>
			<%= f.input :project2_name, label: 'Project 2 Name'  %>
			<%= f.input :project2_url, label: 'Project 2 URL'  %>
			<%= f.input :project3_name, label: 'Project 3 Name'  %>
			<%= f.input :project3_url, label: 'Project 3 URL'  %>
			<%= f.input :resume_url, label: 'Resume URL'  %>
			<%= f.submit :text=>"Update" %>
		<% end %>
	</div>
</div>
