<% content_for :title do %>
	CodingDojo's Network Library
<% end %>

<% content_for :jquery do %>
	<script>
	$(document).ready(function(){

		//temporary - when the topics are clicked automatically make the belt toggle
		$('#skill_search div label').click(function(){
			if(!$(this).hasClass('belt'))
			{
				$(this).parent().children('.belt').click();
			}
		});

		$('.belt').click(function(){

			var shown_belts = new Array;
			var filter_belts = new Array;
			// if($(this).children().prop("checked")){
			// 	$(this).siblings().children().prop("checked", true);
			// }
			// else{
			// 	$(this).siblings().children().prop("checked", false);
			// }; //This bit controls the behavior of sub-checkboxes
			$('.belt').each(function(){
				if($(this).children().prop("checked")){
					var a_belt = $(this).parent().attr("class") + "-student";
					shown_belts.push(a_belt);
					filter_belts.push($(this).parent().attr("class"));
				}
			}); //This puts the class names of the selected belts into an array

			belts = 'nil'

			if(shown_belts.length > 0){
				belts = JSON.stringify({'filters' : [filter_belts] })
			}
			$.post('/belt/filters', {data: belts}, null);

			if(shown_belts.length == 0)
				$("#student_select").children('ul').children("li").fadeIn();
			else
			{
				$("#student_select").find("li").each(function(){
					var current_student = $(this);
					var visible = false;
					for(var i=0; i<shown_belts.length; i++){ //go through all the selected belts
						if(current_student.hasClass(shown_belts[i])){
							visible = true; //make current student not visible if they don't have a matching belt
						}
					}
					visible ? current_student.fadeIn() : current_student.fadeOut(); //show or hide the current student
				});
			}				
			// console.log(shown_belts);
		});// END OF BELT CLICK EVENT

		$('#short_list button').click(function(){
			$(this).parent().hide();
		});

		$('#student_select li').click(function(){
			//var student_id = $(this).attr("id");
			//redirect to page according to student_id
		});

		$('#short_list li').click(function(){
			//var student_id = $(this).attr("id");
			//redirect to page according to student_id
		});

	});
	</script>
<% end %>		
			<%= session[:filter] %>
			<% 
				white_belt_active  = nil
				yellow_belt_active = nil
				green_belt_active  = nil
				red_belt_active    = nil
				black_belt_active  = nil

				belts = []

				if !session[:filter].nil? 
					session[:filter]['filters'].each do |belts|
	        			belts.each do |filter|
	        				if filter == 'white-belt'
	        					white_belt_active = 'checked=checked'	
	        				elsif filter == 'yellow-belt'
	        					yellow_belt_active = 'checked=checked'
	        				elsif filter == 'gree-belt'
	        					green_belt_active = 'checked=checked'
	        				elsif filter == 'red-belt'
	        					red_belt_active = 'checked=checked'
	        				elsif filter == 'red-belt'
	        					black_belt_active = 'checked=checked'
	        				end		

	        				belts.push(filter)
	        			end
	        		end
	        	end

			%>
			<form id="skill_search" class="well" action="" method="post">
				<legend>Refine your search</legend>
				<div class="white-belt">
					<label class="belt"><input id="white-belt-cat" type="checkbox" <%= white_belt_active %> >White Belt</input></label>
					<label>Just started</label>
				</div>
				<div class="yellow-belt">
					<label class="belt"><input id="yellow-belt-cat" type="checkbox" <%= yellow_belt_active %> >Yellow Belt</input></label>
					<label>HTML</label>
					<label>CSS</label>
					<label>JQuery/Javascript</label>
				</div>
				<div class="green-belt">
					<label class="belt"><input id="yellow-belt-cat" type="checkbox" <%= green_belt_active %> >Green Belt</input></label>
					<label>PHP</label>
					<label>Ajax</label>
					<label>MySQL/Database Design</label>
					<label>Agile</label>
				</div>
				<div class="red-belt">
					<label class="belt"><input id="green-belt-cat" type="checkbox" <%= red_belt_active %> >Red Belt</input></label>
					<label>OOP</label>
					<label>Git/SVN</label>
					<label>Ruby</label>
					<label>Linux and Cloud Server</label>
				</div>
				<div class="black-belt">
					<label class="belt"><input id="red-belt-cat" type="checkbox" <%= black_belt_active %> >Black Belt</input></label>
					<label>Ruby on Rails</label>
					<label>CodeIgniter</label>
					<label>TDD</label>
				</div>
			</form>

			<div class="dashboard_students">
				<div id="student_select">
					<% if flash[:error] %>
					<h4 class="well alert alert-danger"><%= flash[:error] %></h4>
					<% end %>

					<div class='actions'>						
						<% if is_admin? %>
							<a class='btn btn-primary pull-left' href="<%= new_student_path %>">Add a new student</a>
						<% else %>
							<% if defined?params[:search] and !params[:search].nil? %> 
								<p class='search_crumbs pull-left'><a href="<%= students_path %>">Dashboard</a> > <%= params[:search] %></p>
							<% end %>
						<% end %>			
						 <%= simple_form_for :student, :controller => 'students', :action => 'search', :html=> {:id=>'main_search', :class=> 'navbar-search pull-right'}, :method => 'get' do %>
						      	<%= text_field_tag :search, params[:search], :id => 'search_field', :class=>"search-query span2", :placeholder=>'Search' %>
						    <% end %> 				
							<div class='clear'></div>
					</div>
					<% if defined?params[:search] and !params[:search].nil? and is_admin? %> 
						<p class='search_crumbs'><a href="<%= students_path %>">Dashboard</a> > <%= params[:search] %></p>
					<% end %>
					<ul>
						<% @students.each do |student| 
							if !belts.include?(displayBelt(student).gsub(/-student/,''))
						%>
							<li class="<%= displayBelt(student) %> hidden">
						<% else %>
							<li class="<%= displayBelt(student) %>">
						<% end %>
							<a href="/students/<%= student.id %>">
							<!-- CHECKS FOR STUDENT BELT SCORES AND ECHOES THE HIGHEST RANKING BELT -->
							<% if student.student_profile.black_belt_score %>
								<span class="student_belt black_belt"></span>
							<% elsif student.student_profile.red_belt_score %>
								<span class="student_belt red_belt"></span>
							<% elsif student.student_profile.green_belt_score %>
								<span class="student_belt green_belt"></span>
							<% elsif student.student_profile.yellow_belt_score %>								
								<span class="student_belt yellow_belt"></span>
							<% else %>
								<span class="student_belt white_belt"></span>
							<% end %>
								<img src="<%= student.student_profile.image_src.nil? || student.student_profile.image_src == "" ? student.student_profile.avatar.url(:small) : student.student_profile.image_src  %>" alt="<%= student.name %>">
								<p><%= truncate(student.name, :length => 22) %></p>
							</a>
						</li>
						<% end %>
						<div class='clear'></div>
					</ul>
				</div>

				<% if is_recruiter? and current_user.candidate_list.length > 0 %>
					<div class='recruiter_candidates'>
						<h4 class="well">Candidate in your short list</h4>
						<ul>
						<% current_user.candidate_list.each do |student| %>
						<li class="<%= displayBelt(student) %>">
							<a href="/students/<%= student.id %>">
							<!-- CHECKS FOR STUDENT BELT SCORES AND ECHOES THE HIGHEST RANKING BELT -->
							<% if student.student_profile.black_belt_score %>
								<span class="student_belt black_belt"></span>
							<% elsif student.student_profile.red_belt_score %>
								<span class="student_belt red_belt"></span>
							<% elsif student.student_profile.green_belt_score %>
								<span class="student_belt green_belt"></span>
							<% elsif student.student_profile.yellow_belt_score %>								
								<span class="student_belt yellow_belt"></span>
							<% else %>
								<span class="student_belt white_belt"></span>
							<% end %>
								<img src="<%= student.student_profile.image_src.nil? || student.student_profile.image_src == "" ? student.student_profile.avatar.url(:small) : student.student_profile.image_src  %>" alt="<%= student.name %>">
								<p><%= truncate(student.name, :length => 22) %></p>
							</a>
						</li>
						<% end %>
						<div class='clear'></div>
					</ul>
					</div>
				<% end %>

			</div>
            <div class='clear'></div>
		