<% content_for :title do %>
	CodingDojo's Network Library
<% end %>

<% content_for :jquery do %>
	<script>

		jQuery.ajaxSetup({
		    'async' : false
		})

		$(document).ready(function(){

			$('#short_list button').click(function(){
				$(this).parent().hide();
			});

			$('#student_select li').click(function(){
				//var student_id = $(this).attr("id");
				//redirect to page according to student_id
			});

			$('#short_list li').click(function(){
				//var student_id = $(this).attr("id");
				//redirect to page according to student_id
			});


			// Submit form when checkbock was checked
			$(".belt, .skill").click(function(){
				
				/* auto check skills when belt color was checked
				if($(this).hasClass('belt')){
					if($(this).children().prop("checked")){
						$(this).siblings('div.skill_box').find("input[type='checkbox']").prop('checked', true)
					}else{					
						$(this).siblings('div.skill_box').find("input[type='checkbox']").prop('checked', false)
					}
				}
				*/

				$(this).parents("form.student-search").submit();
			});

			// Before form submit, get all the filters and search keyword
			$("form.student-search").bind("ajax:beforeSend", function(event,xhr,settings){
				xhr.setRequestHeader("Accept", "text/javascript")
				
				formData = []
				existedParams = []

				$("ul.student_lists").hide();

				$("form.student-search").each(function(){
					dataArray = $(this).serializeArray()

					if(dataArray.length > 0){
						temp = existedParams

						for(key in dataArray){					
							if(temp.join(",").indexOf(dataArray[key].name) === -1 && dataArray[key].name.indexOf("[]") === -1 && dataArray[key].value !== ""){
								existedParams.push(dataArray[key].name)
								temp = existedParams

								jsonObject = {}
								jsonObject[dataArray[key].name] = dataArray[key].value
								formData.push(jsonObject)
							}
							else if (dataArray[key].name.indexOf("[]") !== -1 && dataArray[key].value !== "")
							{
								jsonObject = {}
								jsonObject[dataArray[key].name] = dataArray[key].value
								formData.push(jsonObject)
							}
						}
					}
				});
				 
			});

		});
	</script>
<% end %>					
			<%= simple_form_for :student, :url => search_path, :html=> {:id=>'skill_search', :class=> 'well student-search'}, :method => 'post', :remote => true do %>
					<legend>Refine your search</legend>
					<h5>Filter by Belts:</h5>
					<% CODINGDOJO_BELTS[0].each_with_index do |belt, index|
						belt_selected = ""

						if !session[:filter].nil?
							if !session[:filter][:belt_id].nil? and session[:filter][:belt_id].include?(CODINGDOJO_BELTS[0][index][:id].to_s)
								belt_selected = "checked='checked'"
							end
						end

						
					%>
						<div class="<%=CODINGDOJO_BELTS[0][index][:belt]%>">
							<label class="belt"><input id="<%=CODINGDOJO_BELTS[0][index][:belt]%>-cat" name="student_skills[belt_id][]" type="checkbox" value="<%=CODINGDOJO_BELTS[0][index][:id]%>" <%= belt_selected %> ><%=CODINGDOJO_BELTS[0][index][:label]%></input></label>
							<% @skills.each do |skill| 			
									skill_selected = ""					

									if !session[:filter].nil?
										if !session[:filter][:skill_id].nil? and session[:filter][:skill_id].include?(skill.id.to_s)
											skill_selected = "checked='checked'"
										end
									end
							%>
								<% if skill.belt_id == CODINGDOJO_BELTS[0][index][:id] %>
									<div class="skill_box skill_<%=skill.id%>">
										<label class="skill"><input id="skill_<%=skill.id%>" name="student_skills[skill_id][]" type="checkbox" value="<%=skill.id%>" <%= skill_selected %> ><%=skill.name%></input></label>
									</div>
								<% end %>
							<% end %>
						</div>
					<% end %>
				<% end %>
			</form>

			<div class="dashboard_students">
				<div id="student_select">
					<% if flash[:error] %>
					<h4 class="well alert alert-danger"><%= flash[:error] %></h4>
					<% end %>

					<div class='actions'>						
						<% if is_admin? %>
							<a class='btn btn-primary pull-left' href="<%= new_student_path %>">Add a new student</a>
							<a class='btn btn-primary new_batch pull-left' href="<%= import_students_path %>">Import students</a>
						<% else %>
							<% if !params[:search].nil? %> 
								<p class='search_crumbs pull-left'><a href="<%= students_path %>">Dashboard</a> > <%= params[:search] %></p>
							<% end %>
						<% end %>			
						 <%= simple_form_for :student, :url => search_path, :html=> {:id=>'main_search', :class=> 'student-search pull-right'}, :method => 'post', :remote => true do %>
						      	<%= text_field_tag :search, @search_keyword, :id => 'search_field', :class=>"search-query span2", :placeholder=>'Search' %>
						    <% end %> 				
							<div class='clear'></div>
					</div>
					<% if defined?params[:search] and !params[:search].nil? and is_admin? %> 
						<p class='search_crumbs'><a href="<%= students_path %>">Dashboard</a> > <%= params[:search] %></p>
					<% end %>
					<ul class='student_lists'>
						<% 

							if !@students.nil?  and @students.length > 0

								@students.each do |student| %>

									<li class="<%= displayBelt(student) %>" data-skills="<%= displaySkills(student) %>">
										<a href="/students/<%= student.id %>">
										<!-- CHECKS FOR STUDENT BELT SCORES AND ECHOES THE HIGHEST RANKING BELT -->
										<% if student.student_profile.black_belt_score %>
											<span class="student_belt black_belt"></span>
										<% elsif student.student_profile.red_belt_score %>
											<span class="student_belt red_belt"></span>
										<% elsif student.student_profile.green_belt_score %>
											<span class="student_belt green_belt"></span>
										<% elsif student.student_profile.yellow_belt_score %>								
											<span class="student_belt yellow_belt"></span>
										<% else %>
											<span class="student_belt white_belt"></span>
										<% end %>
											<img src="<%= student.student_profile.image_src.nil? || student.student_profile.image_src == "" ? student.student_profile.avatar.url(:small) : student.student_profile.image_src  %>" alt="<%= student.name %>">
											<p><%= truncate(student.name, :length => 21) %></p>
										</a>
									</li>
							<%  end 
							else  %>
								<li class='error_message'>No Student found...</li>
						<%  end %>
						<div class='clear'></div>
					</ul>
				</div>

				<% if is_recruiter? and current_user.candidate_list.length > 0 %>
					<div class='recruiter_candidates'>
						<h4 class="well">Candidate in your short list</h4>
						<ul>
						<% current_user.candidate_list.each do |student| %>
						<li class="<%= displayBelt(student) %>">
							<a href="/students/<%= student.id %>">
							<!-- CHECKS FOR STUDENT BELT SCORES AND ECHOES THE HIGHEST RANKING BELT -->
							<% if student.student_profile.black_belt_score %>
								<span class="student_belt black_belt"></span>
							<% elsif student.student_profile.red_belt_score %>
								<span class="student_belt red_belt"></span>
							<% elsif student.student_profile.green_belt_score %>
								<span class="student_belt green_belt"></span>
							<% elsif student.student_profile.yellow_belt_score %>								
								<span class="student_belt yellow_belt"></span>
							<% else %>
								<span class="student_belt white_belt"></span>
							<% end %>
								<img src="<%= student.student_profile.image_src.nil? || student.student_profile.image_src == "" ? student.student_profile.avatar.url(:small) : student.student_profile.image_src  %>" alt="<%= student.name %>">
								<p><%= truncate(student.name, :length => 22) %></p>
							</a>
						</li>
						<% end %>
						<div class='clear'></div>
					</ul>
					</div>
				<% end %>

			</div>
            <div class='clear'></div>
		