<% content_for :title do %>
	Add a new student | CodingDojo's Network Library
<% end %>
<h1>Create a new student</h1>

<%= simple_form_for(@student) do |f| %>
	<%= f.input :name %>
	<%= f.input :email %>
	<%= f.input :password, :label => "Set password" %>
	<%= f.input :password_confirmation, :label => "Confirm password" %>
	<%= f.input :location %>
	<%= f.input :status, :name=>'status', :collection => -1..2, :label => "Status (0 for inactive, 1 for active, 2 for already hired, -1 for banned)" %>
	<%= f.submit :text=>"Create new", :class => 'btn btn-primary' %>
<% end %>