<% content_for :title do %>
	<%= @student.name %> | CodingDojo's Network Library
<% end %>

<% content_for :jquery do %>
    <script>
        jQuery.ajaxSetup({
            'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
        })

        $(document).ready(function(){

            $('#profile_tab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });

            <% if is_recruiter? %>
                status = 1;

                $("a").click(function(e){
                    var location = $(this).attr('href')
                    if(location == '/students' || location == '/signout'){
                        e.preventDefault();
                        status = 1
                        window.location.href = location;
                    }
                });
                $(window).keydown(function(e){
                    if (e.keyCode == 116){
                       status = 0
                    }
                })

                $(window).bind('beforeunload', function (e) {

                    $.ajax({
                        url: '<%= recruiter_view_path(@recruiter_view, 0) %>'+status,
                        type: 'PUT',
                        data: '&action=update_recruiter_view',
                        success: function(data) {
                        },
                        async : false
                    });
                });

                $('div.item').children("li").mouseenter(function(){ 
                    $(this).find("p.trigger_tooltip").tooltip('show'); 
                })
                .mouseout(function(){
                    $(this).find("p.trigger_tooltip").tooltip('hide'); 
                });


                $("a.get_introduce").click(function(e){
                    e.preventDefault();
                    $.post(this.getAttribute('data-link'), null, "script")
                });

                $("a.add_to_short_list").click(function(e){
                    e.preventDefault();
                    $.post(this.getAttribute('data-link'), null, "script")
                });

                $("a.remove_from_short_list").click(function(e){
                    e.preventDefault();
                    $.post(this.getAttribute('data-link'), null, "script");
                    window.location.href = "/students/" + this.getAttribute('data-user')
                });

                $('.carousel').carousel({
                  interval: 0
                })

                 <% if current_user.candidate_list.length > 0 and current_user.candidate_list.length <= 5 %>
                    $("a.carousel-control").hide();
                 <% else %>
                    $('div#candidates, ul.carousel-inner, ul.carousel-inner img, ul.carousel-inner li, ul.carousel-inner a, ul.carousel-inner p, a.carousel-control')
                        .mouseenter(function(){ $('a.carousel-control').css('opacity', '0.8')  })
                        .mouseout(function(){ $('a.carousel-control').css('opacity', '0')  });
                 <% end %>
            <% end %>
        });
    </script>
<% end %>

<div class="student_profile">
    <div class="main_profile">
        <div>
            <p class='pull-left'><a href="<%= students_path %>">Dashboard</a> > <%= @student.name %></p>
            <% if !student_list.nil? and student_list.all.length > 1 %>
                <p class='pull-right'>
                    <% if student_list.first.id == @student.id %>

                        <a href='#' class='btn btn-small btn-danger' disable><span class='icon-chevron-left icon-white'></span> Prev</a>                         
                        <a href="/students/<%= student_list[1].id %>" class='btn btn-small btn-primary'>Next <span class='icon-chevron-right icon-white'></a> 

                    <% elsif student_list.last.id == @student.id %>   

                        <a href="/students/<%= student_list[student_list.length-2].id %>" class='btn btn-small btn-primary'><span class='icon-chevron-left icon-white'></span> Prev</a> 
                        <a href='#' class='btn btn-small btn-danger'>Next <span class='icon-chevron-right icon-white'></a>

                    <% else %>
                        <%  current_student = nil

                            student_list.each do |student| 

                                if !current_student.nil? and current_student.id == @student.id %>                                    

                                    <a href="/students/<%= student.id %>" class='btn btn-small btn-primary'>Next <span class='icon-chevron-right icon-white'></span></a> 

                        <%      elsif student.id == @student.id %>  

                                    <a href="/students/<%= current_student.id %>" class='btn btn-small btn-primary'><span class='icon-chevron-left icon-white'></span> Prev</a>   

                        <%      end

                                current_student = student
                            end %>
                    <% end %>
                </p>
            <% end %>
            <div class='clear'></div>
        </div>
        <img id="main_photo" class="main-photo" src="<%= @profile.image_src.nil? || @profile.image_src == "" ? @profile.avatar.url(:medium) : @profile.image_src %>" />
        <div class="student_info">
            <h1><%= @student.name %></h1>
            <h2><%= @student.location %></h2>
            
            <% if is_admin? %>
            <p><a href="/students/<%= @student.id %>/edit" class="btn btn-primary">Edit Info</a></p>
             <% elsif is_recruiter? %>
                <div class='recruiter_controls'>
                    <p class='pull-left'><a href="#modal" class='get_introduce btn btn-primary' data-link='<%= send_email_to_student_path(@student.id) %>' data-action='get_introduces'>Get Introduce</a></p>
                    <% if @student.recruiter_lists.where(:id => current_user.id).length == 0 %>
                        <p class='pull-left'><a class='add_to_short_list btn btn-primary' data-link='<%= add_to_short_list_path(@student.id) %>'>Save to a short list</a></p>
                    <% else  %>
                        <p class='pull-left'><a class='remove_from_short_list btn btn-primary' data-link='<%= remove_from_short_list_path(@student.id) %>' data-user='<%= @student.id %>'>Remove from short list</a></p>
                    <% end %>
                    <div class='clear'></div>
                </div>
                <% if current_user.candidate_list.length > 0 %>
                     <div id='candidates' class='recruiter_candidates carousel slide'>
                        <ol class="carousel-indicators">
                            <% for count in 0..(current_user.candidate_list.length / 5).round %>
                                <li data-target="#candidates" data-slide-to="<%=count%>" class="<%= count == 0 ? 'active' : '' %>"></li>
                            <% end %>
                        </ol>
                        <ul class='carousel-inner recruiter_candidate_lists'>
                        <% 
                        count = 1
                        current_user.candidate_list.each do |student| 

                            if count > 5 
                                count = 1
                        %>                   
                                <div class='clear'></div></div><div class='item'>
                        <% elsif count == 1%>
                                <div class='item active'>
                        <% end %>

                                    <li class='<%= student.id == @student.id ? "active " : "" %>'  title='<%= student.name %>'>
                                        <a href="<% if student.id != @student.id %>/students/<%= student.id %> <% else %> # <% end %>">
                                            <img src="<%= student.student_profile.image_src.nil? || student.student_profile.image_src == "" ? student.student_profile.avatar.url(:thumb) : student.student_profile.image_src  %>" alt="<%= student.name %>">
                                            <p><%= truncate(student.name, :length => 16) %></p>
                                        </a>
                                    </li>
                        <%  count = count + 1;
                        end 
                        %>
                                </div>
                        </ul>
                        <div class='clear'></div>
                        <a class="carousel-control left" href="#candidates" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#candidates" data-slide="next">&rsaquo;</a>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class='profile_information'>
        <ul class="nav nav-tabs" id="profile_tab">
            <li class="active"><a href="#overview">Overview</a></li>
            <li><a href="#resume">Resume</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="overview">
                <div class="certified">
                    <ul class="video-list">
                        <% if @profile.video_url != nil and @profile.video_url != '' %>
                            <li>
                                <%= raw(embed_video(@profile.video_url)) %><p>Video introduction</p>
                            </li>
                        <% end %>

                        <% if @profile.project1_url != nil and @profile.project1_url != '' %>
                            <li>
                                <%= raw(embed_video(@profile.project1_url)) %><p><%= @profile.project1_name %></p>
                            </li>
                        <% end %>

                        <% if @profile.project2_url != nil and @profile.project2_url != '' %>
                            <li>
                                <%= raw(embed_video(@profile.project2_url)) %><p><%= @profile.project2_name %></p>
                            </li>
                        <% end %>

                        <% if @profile.project3_url != nil and @profile.project3_url != '' %>
                            <li>
                                <%= raw(embed_video(@profile.project3_url)) %><p><%= @profile.project3_name %></p>
                            </li>
                        <% end %>
                    </ul>
                    <h3 class="title">Certified Topics</h3>
                    <div class="belt-scores <%= "no-score" if @profile.yellow_belt_score.nil? %>">
                        <div class="competencies">
                            <h3 class="belt-title">Yellow Belt</h3>
                            <ul>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>jQuery/Javascript</li>
                            </ul>
                        </div>
                        <div class="yellow-belt"><h3 class="score"><%= @profile.yellow_belt_score %>&nbsp;</h3></div>
                    </div>
                    <div class="belt-scores <%= "no-score" if @profile.green_belt_score.nil? %>">
                        <div class="competencies">
                            <h3 class="belt-title">Green Belt</h3>
                            <ul>
                                <li>PHP</li>
                                <li>MySQL/Database Design</li>
                                <li>Agile</li>
                            </ul>
                        </div>
                        <div class="green-belt"><h3 class="score"><%= @profile.green_belt_score %>&nbsp;</h3></div>
                    </div>
                    <div class="belt-scores <%= "no-score" if @profile.red_belt_score.nil? %>">
                        <div class="competencies">
                            <h3 class="belt-title">Red Belt</h3>
                            <ul>
                             <li>OOP</li>
                                <li>Git/SVN</li>
                                <li>Ruby</li>
                                <li>Ajax</li>
                            </ul>
                        </div>
                        <div class="red-belt"><h3 class="score"><%= @profile.red_belt_score %>&nbsp;</h3></div>
                    </div>
                    <div class="belt-scores <%= "no-score" if @profile.black_belt_score.nil? %>">
                        <div class="competencies">
                            <h3 class="belt-title">Black Belt</h3>
                            <ul>
                                <li>Ruby on Rails</li>
                                <li>CodeIgniter</li>
                                <li>Linux and Cloud</li>
                            </ul>
                        </div>
                        <div class="black-belt"><h3 class="score"><%= @profile.black_belt_score %>&nbsp;</h3></div>
                    </div>
                 </div><!-- end certified -->
            </div>
            <div class="tab-pane" id="resume">
                <div class='resume'>
                    <%
                       file_path = get_resume_path(@profile)

                       if !file_path.nil? 
                            if Rails.env == 'production'
                       %>
                                <%= raw(google_doc_viewer(file_path)) %>
                       <% 
                            elsif @profile.resume_url.nil? %>
                                <embed class='view_resume' src='<%= resume_path(@student.id) %>'></embed>  
                       <%
                            else %>
                                <embed class='view_resume' src='<%= file_path %>'></embed>  
                       <%
                            end
                        else %>
                            <embed class='view_resume' src=''></embed>
                       <% end %>

                </div>
            </div>
        </div>
    </div>
</div> <!-- end of student profile -->

<!-- CREATE MODAL -->
<div id='modal' class="modal hide fade">
  <div class="modal-footer"></div>
</div>