
	<div class="student_profile">
		<div class="main_profile">
			<p><a href="<%= students_path %>">Dashboard</a> > <%= @student.name %></p>
			<img id="main_photo" class="main-photo" src="<%= @profile.image_src %>">
			<div class="student_info">
				<h1><%= @student.name %></h1>
				<h2><%= @student.location %></h2>
				<p><a href="<%= @profile.resume_url %>" target="_blank"><%= @student.name + "'s resume" if @profile.resume_url != nil%></a></p>
			</div>
		</div>
		<div class="certified">
			<ul class="video-list">
				<% if @profile.video_url != nil %>
				<li>
					<iframe class="profile-video" src="<%= @profile.video_url %>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p>Video introduction</p>
				</li>
				<% end %>
				<% if @profile.project1_name != nil %>
				<li>
					<iframe class="profile-video" src="<%= @profile.project1_url %>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><%= @profile.project1_name %></p>
				</li>
				<% end %>
				<% if @profile.project2_name != nil %>
				<li>
					<iframe class="profile-video" src="<%= @profile.project2_url %>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><%= @profile.project2_name %></p>
				</li>
				<% end %>
				<% if @profile.project3_name != nil %>
				<li>
					<iframe title="Project1" class="profile-video" src="<%= @profile.project3_url %>" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><p><%= @profile.project3_name %></p>
				</li>
				<% end %>
			</ul>
			<h3 class="title">Certified Topics</h3>
			<div class="belt-scores <%= "no-score" if @belts[1] == "N/C" %>">
				<div class="competencies">
					<h3 class="belt-title">White Belt</h3>
					<table class="belt-exams">
						<tr>
							<td>HTML</td>
						</tr>
						<tr>
							<td>CSS</td>
						</tr>
						<tr>
							<td class="unavailable">jQuery/Javascript</td>
						</tr>
					</table>
				</div>
				<div class="white-belt"><h3 class="score"><%= @belts[1] %></h3></div>
			</div>
			
			<div class="belt-scores <%= "no-score" if @belts[2] == "N/C" %>">
				<div class="competencies">
					<h3 class="belt-title">Yellow Belt</h3>
					<table class="belt-exams">
						<tr>
							<td>PHP</td>
						</tr>
						<tr>
							<td class="unavailable">MySQL/Database Design</td>
						</tr>
						<tr>
							<td>Agile</td>
						</tr>
					</table>
				</div>
				<div class="yellow-belt"><h3 class="score"><%= @belts[2] %></h3></div>
			</div>
			<div class="belt-scores <%= "no-score" if @belts[3] == "N/C" %>">
				<div class="competencies">
					<h3 class="belt-title">Green Belt</h3>
					<table class="belt-exams">
						<tr>
							<td class="unavailable">OOP</td>
						</tr>
						<tr>
							<td class="unavailable">Git/SVN</td>
						</tr>
						<tr>
							<td>Ruby</td>
						</tr>
						<tr>
							<td class="unavailable">Ajax</td>
						</tr>
					</table>
				</div>
				<div class="green-belt"><h3 class="score"><%= @belts[3] %></h3></div>
			</div>
			<div class="belt-scores <%= "no-score" if @belts[4] == "N/C" %>">
				<div class="competencies">
					<h3 class="belt-title">Red Belt</h3>
					<table class="belt-exams">
						<tr>
							<td>Ruby on Rails</td>
						</tr>
						<tr>
							<td class="unavailable">CodeIgniter</td>
						</tr>
						<tr>
							<td class="unavailable">Linux and Cloud</td>
						</tr>
					</table>
				</div>
				<div class="red-belt"><h3 class="score"><%= @belts[4] %></h3></div>
			</div>
			<div class="belt-scores <%= "no-score" if @belts[5] == "N/C" %>">
				<div class="competencies">
					<h3 class="belt-title">Black Belt</h3>
					<table class="belt-exams">
						<tr>
							<td class="unavailable">Node.JS</td>
						</tr>
						<tr>
							<td class="unavailable">TDD</td>
						</tr>
						<tr>
							<td class="unavailable">Python</td>
						</tr>
						<tr>
							<td class="unavailable">Django</td>
						</tr>
					</table>
				</div>
				<div class="black-belt"><h3 class="score"><%= @belts[5] %></h3></div>
			</div>

		</div><!-- end certified -->
	</div> <!-- end of student profile -->
