<div id='alt_wrapper'>
<h1>Recruiters/Companies</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Company</th>
    <th></th>
  </tr>

<% @recruiters.each do |recruiter| %>
  <tr>
    <td><%= recruiter.name %></td>
    <td><%= recruiter.email %></td>
    <td><%= recruiter.company %></td>
    <td><%= link_to 'Show', recruiter, :class=>'btn btn-primary' %></td>
    <td><%= link_to 'Edit', edit_recruiter_path(recruiter), :class=>'btn' %></td>
    <td><%= link_to 'Destroy', recruiter, :class=>'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add a New Recruiter', new_recruiter_path, :class=>'btn btn-primary' %>
</div>
