<div id='alt_wrapper'>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recruiter.name %>
</p>

<p>
  <b>Email:</b>
  <%= @recruiter.email %>
</p>

<p>
    <b>Title:</b>
    <%= @recruiter.title %>
</p>


 <p>
  <b>Company:</b>
  <%= @recruiter.company %>
</p>

  <p>
    <b>Company Website:</b>
    <%= @recruiter.company_website %>
  </p>


  <p>
    <b>No. of Engineers:</b>
    <%= @recruiter.engineers_managed %>
</p>

<% if !@recruiter.company_description.nil? and @recruiter.company_description != '' %>
    <p>
      <b>Company Description:</b>
      <%= @recruiter.company_description %>
    </p>
<% end %>

<% if !@recruiter.individual_description.nil? and @recruiter.individual_description != '' %>
    <p>
      <b>Individual Description:</b>
      <%= @recruiter.individual_description %>
      </p>
<% end %>


<%= link_to 'Edit', edit_recruiter_path(@recruiter) %> |
<%= link_to 'Back', recruiters_path %>

</div>
