<!DOCTYPE html>
<html>
<head>
  <title>Welcome to CodingDojo's Library!</title>
  <%= stylesheet_link_tag "application", "sessions", :cache => false  %>
  <%= javascript_include_tag "application", "sessions" %>
  <%= csrf_meta_tags %>

  <%= yield :jquery %>

</head>
<body>
	<%= yield %>
</body>
</html>
