<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title><%= yield :title %></title>
	  <%= stylesheet_link_tag    "application", "students" %>
	  <%= javascript_include_tag "application" %>	
	  <%= csrf_meta_tags %>

	  <%= yield :jquery %>
</head>
<body>
	<div class="navbar navbar-fixed-top navbar-inverse">
		<div class="navbar-inner">
			<div class="wrapper">
				<a class="brand pull-left" href="/students">CodingDojo's Network Library</a>
				<ul class="nav pull-right">
					<li <%= 'class=active' if params[:controller] == 'students' and params[:action] == 'index' %>>
						<a href="<%= students_path %>">Students</a>
					</li>
					<% if(is_admin?) %>
					<li>
						<a href="<%= recruiters_path %>">Companies</a>
					</li>
					<% end %>
					<% if !is_recruiter? %>
					<li <%= 'class=active' if params[:controller] == 'students' and params[:action] == 'edit' %>>
						<a href="/students/<%= @current_user.id %>/edit/">Edit Profile</a>
					</li>
                    <% else %>
                          <li <%= 'class=active' if params[:controller] == 'recruiters' and params[:action] == 'edit' %>>
                            <a href="/recruiters/<%= @current_user.id %>">Profile</a>
                          </li>
					<% end %>
					<li>
						<a href="<%= signout_path %>">Log Off</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="wrapper main_wrapper">
		<%= yield %>
	</div>
</body>
</html>
